<!--
Citation for the following Handlebars code:
Date: 8/9/2024
Adapted from
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main 
The tables and forms were refitted to accomodate the sporting leagues database.
-->

<!-- leagues.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<section>

    <article>

        <h3>Leagues</h3>
        <p>Stores information about various sports leagues such as the name, year founded, commisioner, and sport.</p>


        {{!-- Create a table --}}
        <table id="leagues-table">

            {{!-- Header section --}}
            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>

                {{!-- For each row, print the attribute columns in order --}}
                {{#each data}}
                <tr data-value={{this.LeagueID}}>
                    <td>{{this.LeagueID}}</td>
                    <td>{{this.Name}}</td>
                    <td>{{this.YearFounded}}</td>
                    <td>{{this.Commisioner}}</td>
                    <td>{{this.Sport}}</td>
                    <td><button onclick="deleteLeague({{this.LeagueID}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </article>

    <article>
        {{!-- Form to add a record to the table  --}}
        <h3 id="add-league-form-header">Add League</h3>
        <p id="add-league-form-description">Fill out the information below and click submit when finished.</p>
        <form id="add-league-form-ajax">
            <label for="input-name">Name: </label>
            <input type="text" name="input-name" id="input-name" required>
            
            <label for="input-yearfounded">Year Founded: </label>
            <input type="number" name="input-yearfounded" id="input-yearfounded" required>

            <label for="input-commisioner">Commisioner: </label>
            <input type="text" name="input-commisioner" id="input-commisioner" required>

            <select name="input-sport" id="input-sport" required>
                <option value="">Select a Sport</option>
                {{#each sports}}
                <option value="{{this.SportID}}">{{this.Name}}</option>
                {{/each}}
            </select>

            <input type="submit">
        </form>

        <h3>Edit League</h3>
        <p>Fill out the information below and click submit when finished.</p>
        <form id="update-league-form-ajax">

            <label for="input-league-update">League to Edit: </label>
            <select name="input-league-update" id="input-league-update" required>
                <option value="test">Select a League</option>
                {{#each data}}
                <option value="{{this.LeagueID}}">{{this.Name}}</option>
                {{/each}}
            </select>

            <label for="input-name-update">Name: </label>
            <input type="text" name="input-name-update" id="input-name-update" required>
            
            <label for="input-yearfounded-update">Year Founded: </label>
            <input type="number" name="input-yearfounded-update" id="input-yearfounded-update" required>

            <label for="input-commisioner-update">Commisioner: </label>
            <input type="text" name="input-commisioner-update" id="input-commisioner-update" required>

            <select name="input-sport-update" id="input-sport-update" required>
                <option value="">Select a Sport</option>
                {{#each sports}}
                <option value="{{this.SportID}}">{{this.Name}}</option>
                {{/each}}
            </select>
            
            <input type="submit">
        </form>
    </article>
</section>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_league.js"></script>
<script src="./js/delete_league.js"></script>
<script src="./js/update_league.js"></script>