<!--
Citation for the following Handlebars code:
Date: 8/9/2024
Adapted from
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main 
The tables and forms were refitted to accomodate the sporting leagues database.
-->

<!-- leagues.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<section>
    
    <article>

        <h3>Venues</h3>
        <p>Stores details of the sporting event venues such as name, location, and capacity.</p>
        
        {{!-- Create a table --}}
        <table id="venues-table">

            {{!-- Header section --}}
            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>

                {{!-- For each row, print the attribute columns in order --}}
                {{#each data}}
                <tr data-value={{this.VenueID}}>
                    <td>{{this.VenueID}}</td>
                    <td>{{this.Name}}</td>
                    <td>{{this.Country}}</td>
                    <td>{{this.State}}</td>
                    <td>{{this.City}}</td>
                    <td>{{this.Capacity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </article>

    <article>
        {{!-- Form to add a record to the table  --}}
        <h3 id="add-venue-form-header">Add Venue</h3>
        <p id="add-venue-form-description">Fill out the information below and click submit when finished.</p>
        <form id="add-venue-form-ajax">
            <label for="input-name">Name: </label>
            <input type="text" name="input-name" id="input-name" required>
            
            <label for="input-country">Country: </label>
            <input type="text" name="input-country" id="input-country" required>

            <label for="input-state">State: </label>
            <input type="text" name="input-state" id="input-state" required>

            <label for="input-city">City: </label>
            <input type="text" name="input-city" id="input-city" required>

            <label for="input-capacity">Capacity: </label>
            <input type="number" name="input-capacity" id="input-capacity" required>

            <input type="submit">
        </form>
    </article>
</section>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_venue.js"></script>